<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88922437608-rsvstq0cbguh7akaj1fmno234bl3s807.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88922437608-rsvstq0cbguh7akaj1fmno234bl3s807</string>
	<key>API_KEY</key>
	<string>AIzaSyAzNKWhvuyDW5YoXSBkxiElqyUXw2uPJog</string>
	<key>GCM_SENDER_ID</key>
	<string>88922437608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodHub</string>
	<key>PROJECT_ID</key>
	<string>foodhub-34c19</string>
	<key>STORAGE_BUCKET</key>
	<string>foodhub-34c19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88922437608:ios:eb649a556e5b2b281f165d</string>
</dict>
</plist>